.pet-form-container {
    background-color: #eee1e1; /* Set your desired background color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin: 10px; /* Add spacing around the form */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    text-align: center; /* Center the form content horizontally */
  }